<!DOCTYPE html>
<html>
	<head>
		<% include ./head.ejs %>
	</head>

	<body id="body_color">
		
		<!--header-->
		
		<% include ./header.ejs %>

		<!--header End-->

		<!--Main menu-->

		<div class="ui center aligned container" id="board_body">

			<% include ./header_menu.ejs %>

		<!--Main menu-->
		<div class="ui piled segment">
			<div class="view_writer"><%=content.writer%></div>
			<div class="view_title"><%=content.title%></div>
			<div class="view_date"><%=content.date%></div>
		</div>

		
		<div class="ui center column">
			<div class="margin top"></div>
			<div class="ui left floated green item"><%=content.contents%></div>
			<div class="ui left floated red attached item"><h3>test1</h3></div>
			<div class="ui left floated blue attached item"><h3>test2</h3></div>
			<div class="ui left floated violet attached item"><h3>test3</h3></div>
			<button class="ui inverted green animated button">
				<div class="visible content">test4</div>
				<div class="hidden content">AA</div>
			</button>
			
		</div>

		</div>

		
		<% include ./footer.ejs%>
	
	</body>
</html>