
<br/><br/><br/><br/>

	<div class="ui inverted vertical footer segment" >
        			
      </br>
        <div class="ui container aligned container" >
        	<div class="ui inverted secondary menu" id="footer">
        		<div class="left item" >
        			Diki_BBS published 2017. &nbsp;&nbsp;&nbsp;&nbsp;All Rights Reserved  
        		</div>
        		<div class="right item">
        		 &nbsp;&nbsp;   E-mail:&nbsp;&nbsp;sonbin34@gmail.com
        		</div>
        	</div>
        </div>
    </div>
	
<br/><br/><br/><br/>