

		<title>Diki Asset</title>
		<meta charset="utf8">
		<script src="../lib/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" href="../stylesheets/style.css">
		<script src="../lib/semantic.min.js"></script>
		<link rel="stylesheet" href="../lib/semantic.min.css">

		<script>

			function displayForm(){ 
				$('#write_form').show();  
			}  

		</script>