
      <div class="ui fixed inverted menu">
        
        <h1 id="board_header"><a class="ui inverted blue massive circular label" href="/" ><b>D </b></a></h1>

        <div class="right menu" id="login_btn">
          <div class="item">
          <a href="#"><h2>Login</h2></a>
        </div>
          <div class="item" id="login_btn">
          <a href="#" ><h2><b>Sign up </b></h2></a>
        </div>
      </div>    
   </div>
	<br/><br/><br/><br/>

	
	
	<div class="ui section divider"></div>