

<div class="ui massive stackable grey inverted borderless menu" id="board_menu">

		<a class="active item" href="/"><b><i class="home icon"></i></b></a>
		<a class="item" href="/diki_engine"><i class="cube icon"></i>&nbsp;&nbsp;<b>Engine</b></a>
		<a class="item"><i class="rocket icon"></i>&nbsp;&nbsp;<b>Ani</b></a>
		<a class="item"><i class="film icon"></i>&nbsp;&nbsp;<b>Video</b></a>
		<a href="/" class="item"><i class="cube icon"></i>&nbsp;&nbsp;<b>Asset</b></a>

			<div class="right item">
				<div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="inverted circular search link icon"></i>

        </div>
			</div>
	</div>

	<div class="ui divider"></div>